{% extends 'default/index.html.twig' %}

{% block title %}{{ event.name|capitalize }} event details{% endblock %}

{% block content %}
<div class="event-details">
    <div id="map" class="map fleft" data-lat="{{ event.latitude }}" data-lng="{{ event.longitude }}"></div>
    <div class="details fleft">
        <div>
        {% if not app.user %}
            <div class="attend fleft">Please log in to attend</div>
        {% elseif participation and participation.id and not participation.isInvitation %}
            <div class="attend fleft">Already attending</div>
        {% elseif event.maxGuestCount and date(event.applyEndDate) > date() and not event.isPrivate %}
            <div class="attend button fleft">Attend to this event</div>
        {% elseif date(event.applyEndDate) > date() and event.isPrivate and participation and participation.isInvitation %}
            <div class="attend button fleft">Accept invitation</div>
        {% endif %}
        </div>
        <div class="clr"></div>
        <div>
            <span class="label">Event:</span><span class="value name">{{ event.name }}</span>
        </div>
        <div>
            <span class="label">Location:</span><span class="value location">{{event.address}}, {{ event.city|capitalize }}</span>
        </div>
        <div>
            <span class="label">Event date:</span><span class="value date">{{ event.eventDate|date('Y-m-d H:i') }}</span>
        </div>
        <div>
            <span class="label">Duration:</span><span class="value date">{{ event.duration }}h</span>
        </div>
        <div>
            <span class="label">Description:</span><span class="value description">{{ event.description }}</span>
        </div>
        {% if isOwner %}
            <div class="invitaions">Send Invitations</div>
        {% endif %}
        {% if event.participants %}
            <div class="participants">
                <div class="title">Participants (<span class="parlen">{{ event.participants|length }}</span>):</div>
            {% for user in event.participants %}
                <div class="participant">{{ user.user.nick }}: {% if user.isInvitation %}<span style="{% if user.isInvitationAccepted %}color: green;{% else %}color: red;{% endif %}">INVITE</span>{% endif %}</div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
<script src="{{ asset('js/map.js') }}" rel="stylesheet"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkRDMSX2SM5qU3YEwbCmbTZ9WnnC7-L4A&callback=map.event"></script>
{% endblock %}
